        {{> head}}


{{!--tiene que haber un espacio entre el signo > y el nombre del archivo  --}}
        {{> navbar}}   

<div class="row">

    <div class="col-8">
      <h1>Cápitan América</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error fuga odit eveniet eos unde sunt dicta facere magni neque delectus! Nostrum iusto at placeat totam odio consectetur ipsam voluptate nobis.</p>
    </div>


    <div class="col-4">
        {{!-- como assets esta en carpeta publica se pone directamente la direccion de esta --}}
        <img src="assets/img/capitan-america.png" class="img-thumbnail">
    </div>

</div>

   



        {{> footer}}